<!DOCTYPE html>
<html>
  <head>
    <title>Add Product</title>
  </head>
  <body>
    <form action="/addElectronics" method="post">
      <label for="company">company:</label>
      <input type="text" id="company" name="company" required><br><br>
      
      <label for="description">description:</label>
      <textarea type="text" id="description" name="description" rows="4" cols="50" required></textarea><br><br>
      
      <label for="price">price:</label><br>
      <input id="price" name="price" required><br><br>

      <label for="imageAddress">Image Address:</label>
		  <input type="text" id="imageAddress" name="imageAddress" required>

      <br></br>
      
    <input type="submit" value="Add item">
    </form>
  </body>
</html>
