<!DOCTYPE html>
<html>
  <head>
    <title>Delete Electronics</title>
  </head>
  <body>
    <form action="/deleteElectronics/:id" method="post">
      <label for="id">ID:</label>
      <input type="number" name="id" placeholder="Enter ID" required><br><br>
      <button >submit</button>
    </form>
  </body>
</html>
