<!DOCTYPE html>
<html>
  <head>
    <style>
      #backButton {
        position: fixed;
        top: 0;
        left: 0;
      }
    </style>
    <title>SignUp</title>
  </head>
  <body>
    <button id="backButton">Back</button>
  <script>
    document.getElementById('backButton').addEventListener('click', function() {
      window.history.back();
    });
  </script>
    <h1>SignUp</h1>
    <form action="/signup" method="post">
      <label for="username">Username:</label>
      <input type="text" name="username" required><br>
      <label for="password">Password:</label>
      <input type="password" name="password" required><br>
      <input type="submit" value="signup">
    </form>
  </body>
</html>





