<!DOCTYPE html>
<html>
  <head>
    <title>Update Book</title>
  </head>
  <body>
    <form action="/updateBooks/:id/:name" method="post">
      <label for="id">id:</label>
      <input type="number" name="id" required><br><br>

      <label for="name">name:</label>
      <input type="text" name="name" required><br><br>
      
    <input type="submit" value="Update Book">
    </form>
  </body>
</html>
