<!DOCTYPE html>
<html>
  <head>
    <title>Update product</title>
  </head>
  <body>
    <form action="/updateElectronics/:id/:company" method="post">
      <label for="id">id:</label>
      <input type="number" name="id" required><br><br>

      <label for="company">company:</label>
      <input type="text" name="company" required><br><br>
      
    <input type="submit" value="Update product">
    </form>
  </body>
</html>
